.header-container {
    padding: 0 5em;
    height: 30px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    top:-150px;
  }
 
  
  .left {
    display: flex;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 1em;
  }
  .link {
    text-decoration: none;
    color: brown;
    font-weight: 700;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  